<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>INPUT TEST</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="test.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="ng-app">
  	<div class="container logo-search">
  		<div class="row">
  			<div class="col-xs-12 col-log-6 col-md-6 logo">
  				<h1 class="heading">x旅游网</h1>
  			</div>
  			<div class="col-xs-12 col-lg-3 btn-group col-md-3 login-register">
  				<button type="button" class="btn btn-default"><a href="/Users/shithuang/Documents/NODEJS/">注册</a></button>
  				<button type="button" class="btn btn-default">登陆</button>
  				<button type="button" class="btn btn-default">订单查询</button>
  			</div>
  			<div class="col-xs-12 col-lg-3 col-md-3 search">
				<form class="form-inline" role="form" action="/Users/shithuang/Documents/NODEJS/">
					<div class="form-group">
						<label class="sr-only" for="searchfor">search</label>
						<input type="text" class="form-control" placeholder=搜索路线 id="searchfor">
					</div>
					<button type="submit" class="btn btn-default">查询</button>
				</form>
			</div>
  		</div>
  	</div>
  	<div class="container">
  		
  	</div>
  </body>
</html>

