body{
	background-color:#f1f1f1;
}

.logo-search{
	color:rgb(50, 144, 58);
	height: 80px;
}
.heading{
	max-width: 90%;
}
.login-register{
	padding:45px 0 0 0;
	height: 80px;
}
.loginbtn{
	max-width: 90%;
}
.logo {
	height: 80px;
	padding:15px 0 0 40px;
	
}
.search {
	padding:0 0 0 0;
	margin:45px 0 0 0;
	height: 35px;
}
.searchform{
	max-width: 90%;
}
.navigation{
	height: 50px;
}
.navbar{
	height: 50px;
}
